.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 5px;
}

.keys > * {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #dbcbbd;
}
