.Keypad {
    display: flex;
    /* background: lightgray; */
}

.keys, .opkeys {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    border-radius: 10px;
}

.keys > button {
    background-color: #dbcbbd;
    border: 1px solid gray;
}

.keys > button:hover{
    background-color: ghostwhite
}

.opkeys > button {
    background-color: #c87941;
    border: 1px solid #87431d;
}

.opkeys > button:hover{
    background-color: #D2B48C
}

.tall {
    flex: 1;
}
