.Calculator {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10% auto;
    padding: 10px;
    background-color: #290001;
    border: 2px solid orange;
    border-radius: 10px;
}