.Operations {
    display: flex;
    flex-direction: column;
    flex: .2;
    justify-content: space-between;
}

.Operations > div {
    background-color: #c87941;
    border-radius: 10px;
    /*trbl*/
}